/*
    #0B0C10
    #1F2833
    #303C8Cs
    #B4DFE5
*/
.command-container {
    background-color: #0B0C10;
    margin-top: 50px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.comtable-container {
  width: 1023px;
  margin: auto;
  background-color: #1F2833;
  border-radius: 5px;
}
.comtable-item {
  padding: 1rem;
}
.comtable-header {
  padding: 12px;
}
.comtable-header h3 {
  font-size: 2rem;
  color: #66FCF1;
  font-family: Arial, Helvetica, sans-serif;
}
.comtable-title {
  padding-top: 1rem;
}
.comtable-title tr th{
  width: 50%;
  font-size: 1.3rem;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  border-top: none;
}
.comtable-content tr th{
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}
.mobile-comtable-content tr {
  display: none;
}
@media(max-width: 1023px) {
  .comtable-container {
      width: 98%;
      margin: auto;
  }
  .comtable-header h3 {
      font-size: 1.5rem;
  }
  
  .comtable-title tr th {
      font-size: 1rem;
  }
  .comtable-content tr th{ 
      font-size: .9rem;
  }
  .comtable-title tr {
    display: none;
  }
  .comtable-content tr {
    display: none;
  }
  .mobile-comtable-content tr {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px #FFF solid;
  }
  .mobile-comtable-content tr p {
    margin-top: 1rem;
    margin-left: .75rem;
    margin-right: .75rem;
    color: #FFF;
  }
}