.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
  background-color: #1F2833;
}

.navbar-fixed div {
  width: 1023px;
  height: 100%;
}
.mobile-title {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-title img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.navbar-fixed div span {
  font-size: 1.75rem;
  font-family: Impact,Times;
}
.navbar-fixed div span a, .navbar-fixed div span a:hover{
  color: #66FCF1;

}

@media(max-width: 1023px) {
  .navbar-fixed div {
    width: 96%;
    margin: auto;
  }
  .navbar-fixed div span {
    font-size: 1.5rem;
  }
  .desktop-title {
    display: none;
  }
  .mobile-title {
    align-items: flex-end;
  }

}