.Github-title-container {
  margin-top: 5em;
  text-align: center;
}
.Github-table-header {
  margin-bottom: 2em;
  margin-left: 1em;
  padding-top: 2em;
}
.Git-number-container {
  width: 10em;
}
.Github-table-container {
  width: 95%;
  margin: 2em;
  border: black solid 0.1em;
  background-color: aliceblue;
}
.Github {
  width: 100%;
}

@media all and (max-width: 767px) {
  .Github-table-container {
    margin: 0em;
    margin-top: 2em;
    max-width: 100%;
    width: 100%;
    border: black solid 0.1em;
    background-color: aliceblue;
  }
}