.Github {
  width: 100%;
}
.Github-title-container {
  margin-top: 6em;
  text-align: center;
}
.Github-title-item {
  font-family: 'Times New Roman', Times, serif;
}
.Github-example-item {
  font-weight: bolder;
  color: black;
  width: 30em;
  height: 20em;
}

.Github-table-header {
  margin-bottom: 2em;
  margin-left: 1em;
  padding-top: 2em;
  margin-right: 1em;
}
.Git-number-container {
  width: 10em;
}
.Github-table-container {
  margin-top: 1%;
  margin-left: 3.3em;
  margin-right: 3.3em;
  margin-bottom: 4em;
  border: black solid 0.1em;
  background-color: aliceblue;
}
@media all and (max-width: 1000px) {
  .Github-example-item {
    font-weight: bolder;
    color: black;
    width: 20em;
    height: 20em;
  }
}
@media all and (max-width: 800px) {
  .Github-table-container {
    margin: 0em;
    margin-top: 2em;
    margin-bottom: 3em;
    max-width: 100%;
    width: 100%;
    border: black solid 0.1em;
    background-color: aliceblue;
  }
  .Github-command-item {
    font-size: 10px;
  }
  .Github-example-item {
    font-weight: bolder;
    color: black;
    width: 20em;
    height: 20em;
  }
}

@media all and (max-width: 650px) { 
  .Github-example-item {
    width: 15em;
    height: 15em;
    font-size: 10px;
  }
}

@media all and (max-width: 450px) { 
  .Github-example-item {
    font-weight: bolder;
    color: black;
    width: 10em;
    height: 15em;
    font-size: 10px;
  }
}

@media all and (max-width: 350px) { 
  .Github-example-item {
    font-weight: bolder;
    color: black;
    width: 9em;
    height: 15em;
    font-size: 7px;
  }
  .Github-command-item {
    font-size: 7px;
  }
  .Github-section-header {
    font-size: 8px;
  }
}