/*
    #0B0C10
    #1F2833
    #303C8Cs
    #B4DFE5
*/
.footer {
  background-color: #1F2833;
  padding: 1rem;
}
.footer-text-container {
  text-align: center;
}

.footer-text-item, .footer-text-item a {
  color: #66FCF1;
}
.footer-text-item a:hover {
  color: #FFF;
}
@media(max-width: 1023px) {
  .Footer-text-item {
    color: #66FCF1;
    font-size: 0.8rem;
  }
}