body {
  background:linear-gradient(-90deg, red, yellow)
}
.App-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  margin-top: 2em;
}
.App-message-container {
  margin-top: 4em;
  text-align: center
}
.App-program-container {
  width: 30em;
  text-align: center;
  height: 1em;
  margin-top: 5em;
}
@media all and (max-width: 767px) {
  .App-program-container {
    width: 100%;
    text-align: center;
    height: 1em;
    margin-top: 2em;
  }
}