
.App-message-container {
  margin-top: 5em;
  margin-left: 44em;
}
.App-program-container {
  width: 30em;
  text-align: center;
  height: 1em;
  border: 1px solid black;
  margin-top: 5em;
  margin-left: 44em;
}